<!-- head -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/project/index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/project/search">Search <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/project/create">Create</a>
                <a class="nav-item nav-link" href="/project/admin"><b>Admin</b></a>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Real Estate Rental System</h1>
            <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
                finding roommates.</p>
        </div>
    </div>
    <!-- body -->

    <div calss="container col-12 col-sm-8 col-lg-6 col-xl-6">
        <table class="table">
            <tr>
                <th>Num</th>
                <th>Title</th>
                <th>Estate</th>
                <th>Occupants</th>
                <th>Edit</th>
            </tr>
            <% c = 1; %>
            <% key.forEach( function(model) { %>
            <tr>
                <td><%= c %></td>
                <td><%= model.title %></td>
                <td><%= model.estate %></td>
                <td><a href="/project/occupants/<%= model.id %>">Occupants</a></td>
                <td><a href="/project/update/<%= model.id %>">Edit</a></td>
                <td>
                    <button type="submit" class="btn btn-danger"
                        onclick="deleteProject('<%= model.id %>')">Delete</button>
                </td>
            </tr>
            <% c += 1;%>
            <% }); %>

        </table>


    </div>
</div>

<script>

    async function deleteProject(id) {

        var r = confirm("Confirm Delete?");

        if (r) {

            var response = await fetch("/project/delete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }

    };

</script>