<div class="container">
    <!-- body -->

    <div calss="container col-12 col-sm-8 col-lg-6 col-xl-6">
        <table class="table">
            <tr>
                <th>Num</th>
                <th>Title</th>
                <th>Estate</th>
                <th>Occupants</th>
                <th>Edit</th>
            </tr>
            <% c = 1; %>
            <% key.forEach( function(model) { %>
            <tr>
                <td><%= c %></td>
                <td><%= model.title %></td>
                <td><%= model.estate %></td>
                <td><a href="/project/occupants/<%= model.id %>">Occupants</a></td>
                <td><a href="/project/update/<%= model.id %>">Edit</a></td>
                <td>
                    <button type="submit" class="btn btn-danger"
                        onclick="deleteProject('<%= model.id %>')">Delete</button>
                </td>
            </tr>
            <% c += 1;%>
            <% }); %>

        </table>


    </div>
</div>

<script>

    async function deleteProject(id) {

        var r = confirm("Confirm Delete?");

        if (r) {

            var response = await fetch("/project/delete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }

    };

</script>