<div class="container">
    
    <div class="row">
        <div class="card col-12" id="div01">

            <a href="/project/detail/<%= details.id%>"><b><%= details.title%></b></a>
            <div class="row">
                <img class="img-fluid img-thumbnail col-12 col-sm-6 col-lg-6 col-xl-6" src="<%= details.image%>" />
                <ul calss="list-group col-12 col-sm-6 col-lg-6 col-xl-6">
                    <li class="list-group-item"><b>Estate:</b> <%= details.estate%></li>
                    <li class="list-group-item"><b>Gross Area:</b> <%= details.area%></li>
                    <li class="list-group-item"><b>Rent:</b> $<%= details.rent%>a per</li>
                    <li class="list-group-item"><b>Bedrooms:</b> <%= details.bedrooms%></li>
                    <li class="list-group-item"><b>Tenants:</b> <%= details.tenants%></li>
                    <li class="list-group-item"><b>Created:</b> <%= details.createdate%></li>
                    <li class="list-group-item"><b>Uptated:</b> <%= details.updatedate%></li>
                </ul>
            </div>
        </div>

    </div>


    <div class="container col-12">
        <%if(!req.session.username){%>
        <div class="row col-12 col-sm-6 col-lg-6 col-xl-6">
            <b style="color: orangered;">Please <a href="/user/login">login</a> first</b>
        </div>
        <% }else if(req.session.username == "zym"||req.session.username == "boss"){ %>
        <button disabled></button>
        <% }else{ %>
            <%if( nor > details.tenants ){%>
        <button class="btn btn-danger" disabled>full</button>

        <% }else if(req.session.username == key){ %>
            <div class="row col-12 col-12 col-sm-6 col-lg-6 col-xl-6">
                <p> <button type="submit" class="btn btn-danger" style="background-color: red"
                        onclick="cancelRental('<%= details.id %>')" id="move-out">move-out</button>
                    </button></p>
        <% } else{ %>
        <div class="row col-12 col-12 col-sm-6 col-lg-6 col-xl-6">
            <p> <button type="submit" class="btn btn-primary" style="background-color: rgb(92, 126, 236)"
                    onclick="corentRental('<%= details.id %>')" id="co-rent">co-rent</button>
                </button></p>
            <% } %>
        </div>
        <% }%>
        

        </div>
        <div class="row col-12 col-sm-6 col-lg-6 col-xl-6">
            <p><a href="/project/index/">back</a></p>
        </div>
    </div>
</div>

<script>
    function btn1clicked(elem) {

        elem.style = 'background-color: red';
        // elem.class = "btn btn-danger";
        elem.innerHTML = "move-out";
    }

    async function cancelRental(fk) {

        var r = confirm("Confirm move?");

        if (r) {

            var response = await fetch("/user/own/" + fk, {
                method: "DELETE",
                credentials: 'same-origin',
            });

            // var html = await response.text();
            // alert(html);
            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
                location.assign('/project/myrentals') 
            }

        } else {
            alert("cancelled");
        }

    };


    async function corentRental(fk) {

        var r = confirm("Confirm CoRent?");

        if (r) {

            var response = await fetch("/user/own/" + fk, {
                method: "PATCH",
                credentials: 'same-origin',
            });

            // var html = await response.text();
            // alert(html);
            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
                location.assign('/project/myrentals') 
            }

        } else {
            alert("cancelled");
        }

    };

</script>