<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/project/index"><b>Home</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/project/search">Search <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/project/create">Create</a>
                <a class="nav-item nav-link" href="/project/admin">Admin</a>
            </div>
        </div>
        <a class="nav-item nav-link">Hi master,(<a href="/user/logout">logout</a>)</a>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Real Estate Rental System</h1>
            <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
                finding roommates.</p>
        </div>
    </div>
    <form>
        <div class="row">
            <% homepage.forEach( function(model) {%>
            <div class="card col-12 col-sm-6 col-lg-4 col-xl-6" id="div01">

                <a href="/project/detail/<%= model.id%>"><%= model.title %></a>
                <div class="row">
                    <img class="img-fluid img-thumbnail col-12 col-sm-6 col-lg-6 col-xl-6" src="<%= model.image%>" />
                    <ul calss="list-group col-12 col-sm-6 col-lg-8 col-xl-8">
                        <li class="list-group-item"><b>Estate:</b> <%= model.estate %></li>
                        <li class="list-group-item"><b>Gross Area:</b> <%= model.area %></li>
                        <li class="list-group-item"><b>Rent:</b> $<%= model.rent %> a per</li>
                    </ul>
                </div>


            </div>
            <% }); %>


        </div>
    </form>
</div>
