<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/project/index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/project/search">Search <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/project/create">Create</a>
                <a class="nav-item nav-link" href="/project/admin">Admin</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Real Estate Rental System</h1>
            <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
                finding roommates.</p>
        </div>
    </div>

    <!--update.ejs-->
    <form action="/project/update/<%= details.id %>" method="POST">
        <h3>Properly Update Form <span class="badge badge-secondary">Update</span></h3>

        <div class="row">
            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Title:</label>
                <input type="text" class="form-control" name="Project[title]" value="<%= details.title%>">
            </div><br>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Image URL:</label>
                <input type="text" class="form-control" name="Project[image]" value="<%= details.image%>">
            </div><br>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Estate:</label>
                <select onchange="estateSelected(this.value)" class="form-control" name="Project[estate]">
                    <option value="">Please select a Estate:</option>
                    <option value="Mercury">Mercury</option>
                    <option value="Venus">Venus</option>
                    <option value="Earth">Earth</option>
                    <option value="Mars">Mars</option>
                    <option value="Jupiter">Jupiter</option>
                    <option value="Saturn">Saturn</option>
                    <option value="Uranus">Uranus</option>
                    <option value="Neptune">Neptune</option>
                </select>
            </div><br>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Bedrooms:</label>
                <input type="number" class="form-control" name="Project[bedrooms]" min=1 max=90
                    value="<%= details.bedrooms%>">
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Gross Area:</label>
                <input type="number" class="form-control" name="Project[area]" min=1 max=4 value="<%= details.area%>">
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Excepted Tenants:</label>
                <input type="number" class="form-control" name="Project[tenants]" min=1 max=99
                    value="<%= details.tenants%>">
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Rent:</label>
                <input type="number" class="form-control" name="Project[rent]" value="<%= details.rent%>">
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <input type="checkbox" value="dummy" name="Project[highlight]" checked>
                <label>Highlight</label><br>
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
        </div>

    </form>


    <div class="row">
        <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
            <button type="submit" class="btn btn-danger" onclick="deleteProject('<%= details.id %>')">Delete</button>
        </div>
    </div>

</div>

<script>

    async function deleteProject(id) {

        var r = confirm("Confirm Delete?");

        if (r) {

            var response = await fetch("/project/delete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }

    };

</script>